[user]
        name = Nuno Polonia
        email = nuno.polonia@financetechnology.com
[core]
        editor = vim
        pager = less -FRSX
        whitespace = blank-at-eol,blank-at-eof,trailing-space,space-before-tab,
indent-with-non-tab
[alias]
        l = log
        lg = log --graph --decorate --pretty=oneline --abbrev-commit --all --da
te-order
        b = branch
        d = diff
        dc = diff --cached
        st = status -sb
        s = status
        ci = commit
        cian = commit --amend --no-edit
        co = checkout
        nb = checkout -b
        cp = cherry-pick
        p = pull
        po = pull origin
        pr = pull --rebase
        pff = pull --ff-only
        pnff = pull --no-ff
        ps = push
        pso = push origin
[push]
        default = simple
