[user]
        name = Nuno Polonia
	email = nunopolonia@gmail.com
[core]
        editor = vim
        pager = less -FRSX
        whitespace = blank-at-eol,blank-at-eof,trailing-space,space-before-tab,
indent-with-non-tab
	excludesfile = /Users/nunopolonia/.gitignore
[alias]
        a = add
	aa = add .
        l = log
        lg = log --graph --decorate --pretty=oneline --abbrev-commit --all --date-order
        b = branch
        bd = branch -d
        bD = branch -D
        d = diff
        dc = diff --cached
        st = status -sb
        s = status
        ci = commit
        cian = commit --amend --no-edit
        co = checkout
        nb = checkout -b
        cp = cherry-pick
        p = pull
        po = pull origin
        pr = pull --rebase
        pff = pull --ff-only
        pnff = pull --no-ff
        ps = push
        pso = push origin
        psof = push origin --force
	rba = rebase --abort
        rbc = rebase --continue
        rlc = reset --soft HEAD~1
[push]
        default = simple
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
